#task-view .sidebar-content {
  display: flex;
  flex-flow: column nowrap;

  #task-summary {
    order: -4;
  }

  .accordion-section:has(article),
  details:first-of-type {
    order: -3;
  }

  .accordion-section:has(.accordion-content.comments),
  details:nth-of-type(6) {
    order: -2;
  }

  details:nth-of-type(5) {
    order: -1;
  }
}

.accordion-section {
  margin-bottom: 15px;

  .accordion-title {
    margin-top: 0;
  }

  @media (max-width: 767px) {
    padding: 0;
    font-size: 14px;
  }

  .buttons-header {
    i {
      margin-right: 5px;
    }
  }
}
