.accordion-content.comments,
.comments {
  .comment-sorting {
    margin: 15px 0;

    a {
      margin-left: 10px;
      color: $default-color;

      &:hover {
        color: black;
      }
    }

    i {
      margin-right: 5px;
    }
  }

  .comment {
    padding: 15px;
    display: flex;
    margin-bottom: 15px;
    align-items: center;
    flex-wrap: wrap;

    .avatar-left {
      margin-right: 15px;
      margin-bottom: 15px;
    }

    .comment-title {
      border-bottom: 0 none;
      margin-left: 0;
      display: flex;
      margin-bottom: 8px;
      flex-grow: 1;

      .comment-username,
      .comment-date {
        margin-right: 15px;
      }

      .comment-date {
        color: $default-text-color;
      }
    }

    .comment-actions {
      .fa.fa-cog {
        margin-right: 3px;
      }
    }

    .comment-content {
      flex-basis: 100%;
      margin-left: 0;

      .markdown p:last-child {
        margin-bottom: 0;
      }
    }

    &:nth-child(even):not(.comment-highlighted) {
      background-color: unset;

      &:hover {
        background-color: $default-bg-color-1;
      }
    }

    &:hover {
      background-color: $default-bg-color-1;
    }

    &.comment-highlighted {
      background-color: $default-bg-color-5;
      border: 0 none;
    }
  }
}
