body {
  font-family: "Montserrat", sans-serif;
  background-color: $default-bg-color;
  color: $default-color;
}

.page,
#main {
  > *:not(.page-header, .project-header, #main) {
    padding: 0 15px;
  }
}

.page {
  margin-left: 0;
  margin-right: 0;
}

a {
  color: #36c;
  text-decoration: none;

  &:focus,
  &:hover {
    color: black;
  }

  &.user-mention-link {
    color: #ff006c;
    font-weight: 600;
    transition: color 0.3s;

    &:hover,
    &:focus {
      color: darken(#ff006c, 10);
    }
  }
}

hr {
  border-color: $default-border-color;
  border-bottom: 0 none;
}

* {
  box-sizing: border-box;
  outline: none;
}

strong {
  font-weight: 500;
}
