.sidebar-container {
  padding: 0;
  margin: 0 -15px;
  overflow: initial !important;
}

.sidebar {
  padding: 0 15px;
  position: -webkit-sticky;
  position: sticky;
  overflow-y: auto;
  top: 0;

  .sidebar-container#dashboard &,
  .sidebar-container#user-section & {
    top: 121px;
    max-height: calc(100vh - 150px);
  }

  .sidebar-container#config-section & {
    top: 75px;
    max-height: calc(100vh - 100px);
  }

  .sidebar-container#task-view & {
    top: 141px;
    max-height: calc(100vh - 170px);
  }

  @media (max-width: 767px) {
    position: relative;
    order: 1;
    max-width: 100%;
    top: 0 !important;
    max-height: initial !important;
  }

  >ul {
    li {
      padding-left: 0;
      border-left: 3px solid #e2eefe;
      border-bottom-color: $default-border-color;
      border-bottom: 0 none;
      line-height: initial;

      a {
        color: inherit;
        display: block;
        padding: 8px 10px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;

        i {
          display: none;
        }
      }

      &.active,
      &:hover,
      &:focus {
        padding-left: 0;
        border-left-color: $default-color;
        border-left: 3px solid;

        a,
        a:hover,
        a:focus {
          color: inherit;
          background-color: lighten($default-color, 65%);
        }
      }

      &.active {
        a {
          background-color: lighten($default-color, 60%);
          font-weight: 500;

          &:hover {
            background-color: lighten($default-color, 60%);
          }
        }
      }
    }
  }
}

.sidebar-content {
  padding: 0 15px;
  max-width: 100% !important;
}
